*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sidebar{
    margin-top:-6vh;
    position: fixed;
    /* border: 2px solid grey; */
    width: 250px;
    transform: translateX(220px);
    height: 588px;
    background-color:#121619;
}
.sidebarHead{
    display: flex;
    padding-top: 25px;
}
.sidecontent{
    margin-top: 30px;
    
}
.sidecontent ul li{

list-style: none;
padding-top: 10px;
border: 1px solid grey;
font-size: 20px;
}
.sidecontent ul li a{
    text-decoration: none;
    color:#FD9D3E;
}
