*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sidebar{
    margin-top:-2vh;
    position: fixed;
    border: 2px solid grey;
    width: 250px;
    transform: translateX(220px);
    height: 400px;
    background-color: grey;
}
.sidebarHead{
    display: flex;
    padding-top: 25px;
}
.sidecontent{
    
}
.sidecontent ul li{
list-style: none;
margin-top: 10px;
}
.sidecontent ul li a{
    text-decoration: none;
   
}
